*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

h2{
    text-align: center;
    margin: 2rem;
}


/* ********** ROOT COLOURS ********** */
:root{
    --skyblue: #CDE8E5;
    --lightblue: #EEF7FF;
    --blue:#7AB2B2;
    --voilet:#4D869C;
    --white:#EDE8F5;
    --colour-blue1:#3D52A0;
    --colour-blue2:#7091E6;
    --colour-blue3:#8697C4;
    --colour-blue4:#ADBBDA;
    --color-black:#000;
}
/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7*/

:root{
    
--almost_white: #F7FFF7;
--dark_gray : #343434;
--blue_dark:#2F3061;
--yellow:#FFE66D;
--blue_light:#A1C6D7;

}

body{
    color: var(--dark_gray);
}

a{
    color: var(--yellow);
}

/* ********** HEADER STYLING ********** */

header{
    background: #2F3061;
    padding: 5rem;
    text-align: center; 
    color: var(--almost_white);
}
header h1{
    font-style: italic;
}

/* ********** FEATURE PROJECTS ********** */

.projects{
    background: var(--almost_white);
    padding: 5rem;
    color: var(--colour-blue1);
    text-align: center;
}
#project-container{
    display: flex;
    margin-top: 20px;
}
.project-items {
    padding: 10px;
    height: fit-content;
    width: 400px;
    background-color: var(--colour-blue3);
    margin: 10px;
    border-radius: 10px;
    text-overflow: clip;
}
.project-items h3{
    color: #000;
}
.project-items a{
    background-color: #000;
    
}
.project-items img{
    width: 100%;
}


/* ********** EDUCATION ********** */

.edu{
    padding: 5rem;
    text-align: center;
    justify-items: center;
    background-color: var(--blue_light);
}

.edu-items{
    display: flex;
    margin: 30px;
    height: fit-content;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.edu-items img{
    border-radius: 30px;
    width: 250px;
    height: 200px;
    display: flexbox;
}

.edu-content{
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
    justify-items: center;
    justify-content: center;
}



/* ********** SKILLS ********** */

#skills{
    margin: 2rem;
    padding: 5rem;
    display:block;
}
#skills h2{
    text-align: center;
    margin-bottom:20px ;
}

#skills li b{
    margin-left: 20px;
    color: blue;
}


/* ********** ACHIVEMENTS ********** */

#achivement{
    margin: 2rem;
    padding: 5rem;
}



/* ********** CERTIFICATION ********** */

#certifications{
    margin: 2rem;
    padding: 5rem;
}

.certifications-container{
    display: flex;
    height: 200px;
}

#certifications h2{
    text-align: center;
    margin-bottom: 30px;
}

.certificate-img{
    height: 200px;
    width: 250px;
    margin-right: 20px;
}

.certificate-content{
    margin-top: 2rem;
}

/* ********** EXTRACIRICULAR ********** */
/* 
#extracurricular{
    margin: 2rem;
    padding: 5rem;
} */

/* ********** FOOTER ********** */

footer{
    padding: 2rem;
    display: flex;

    /* justify-content: center;
    text-align: center;
    justify-items: center; */
    background-color: var(--dark_gray);
}

footer h3{
    margin-bottom: 20px;
    color: var(--almost_white);
}

footer svg{
    height: 20px;
    width: 20px;
    margin: 5px;
}

footer img{
    height: 20px;
    width: 20px;
    margin: 5px;
}
.form{
    background: var(--colour-blue3);
    padding: 20px;
    border-radius: 20px;
    color: var(--almost_white);
}

.form input {
    border-radius: 20px;
    background-color:lightgrey ;
    height: 30px;
    border: 0px solid;
}
.form button{
    border-radius: 20px;
    background-color:var(--colour-blue1) ;
    height: 30px;
    border: 1px solid;
}
.form label{
    margin-top: 2rem;
    margin-bottom: 2rem;
}







